body {
	font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
	background: #3a55af;
	color: #fff;
	padding: 50px 0;
}

.errormsg {
	color: #ffe600;
}

.regmsg {
	color: #00ad1d;
}

.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}

.container * {
	box-sizing: border-box;
}

.flex-outer,
.flex-inner {
	list-style-type: none;
	padding: 0;
}

.flex-outer {
	max-width: 800px;
	margin: 0 auto;
}

.flex-outer li,
.flex-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flex-inner {
	padding: 0 8px;
	justify-content: space-between;
}

.flex-outer > li:not(:last-child) {
	margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
	padding: 8px;
	font-weight: 300;
	letter-spacing: 0.09em;
	text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
	flex: 1 0 120px;
	max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
	flex: 1 0 220px;
}

.flex-outer li p {
	margin: 0;
}

.flex-outer li input:not([type="checkbox"]),
.flex-outer li textarea {
	padding: 15px;
	border: none;
}

.flex-outer li button {
	margin-left: auto;
	padding: 8px 16px;
	min-width: 280px;
	text-align: center;
	border: none;
	background: #ff003785;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	border-radius: 2px;
	text-decoration: none;
	font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
}

.flex-outer button:hover {
	background: #ff0037;
	cursor: pointer;
}

.flex-inner li {
	width: 100px;
}

.flex-outer a {
	margin-left: auto;
	padding: 7px 16px;
	min-width: 246px;
	text-align: center;
	border: 1px #fff solid;
	background: #3a55af;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: 0.09em;
	border-radius: 2px;
	text-decoration: none;
	font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
}

.flex-outer a:hover {
	background: #ffffff38;
	cursor: pointer;
}

.input-hint {
	font-size: 10px;
	display: flex;
	justify-content: space-between;
}
.b-container {
	width: 200px;
	height: 150px;
	background-color: #ccc;
	margin: 0px auto;
	padding: 10px;
	font-size: 30px;
	color: #fff;
}
.b-popup {
	width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	overflow: hidden;
	position: fixed;
	top: 0px;
}
.b-popup .b-popup-content {
	margin: 40px auto 0px auto;
	width: 100px;
	height: 40px;
	padding: 10px;
	background-color: #c5c5c5;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #000;
}
